.container {
  margin: 20px;
}

.cardCtn {
  display: flex;
  align-items: center;
  position: relative;
}

.leftCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  padding-left: 10px;
}

.nameCtn {
  display: flex;
  align-items: center;
}

.nameCtn h3 {
  font-size: 1rem;
  font-weight: 300;
}

.nameCtn svg {
  margin-right: 5px;
}

.tempCtn {
  display: flex;
  align-items: center;
}

.tempCtn p {
  font-size: 3rem;
}

.tempCtn img {
  width: 60px;
}

.descripCtn {
  font-size: 0.8rem;
  font-style: italic;
  text-transform: capitalize;
}

.rightCtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}

.cardSup, .cardInf {
  display: flex;
  background-color: #2a3850;
  margin: 5px 0 5px 20px;
  padding: 10px;
}

.block1, .block2, .block3, .block4, .block5 {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.block2 {
  border-left: 2px solid rgba(255, 255, 255, 0.494);
  border-right: 2px solid rgba(255, 255, 255, 0.494);
  padding: 0 10px;
}

.block1 svg, .block2 svg, .block3 svg, .block5 svg {
  margin-right: 15px;
  font-size: 1.2rem;
}

.block4 svg {
  font-size: 2.5rem;
  margin-right: 10px;
}

.block4 {
  width: 60%;
}

.detailCtn {
  width: 35px;
  background-color: rgb(23, 189, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  position: absolute;
  right: -35px;
  top: 5px;
  bottom: 5px;
}

.closeCtn {
  width: 20px;
  background-color: rgb(220, 13, 13);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -20px;
  top: 5px;
  bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .cardCtn {
    flex-direction: column;
  }
  .closeCtn {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    height: 30px;
  }
  .detailCtn {
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 50px;
  }
  .rightCtn {
    align-items: center;
  }
  .cardSup, .cardInf {
    width: 100%;
    box-sizing: border-box;
  }
  .cardSup, .cardInf {
    margin: 5px;
  }
}

@media only screen and (max-width:350px) {
  .cardSup, .cardInf {
    flex-direction: column;
  }
  .block1 div, .block2 div, .block3 div, .block4 div, .block5 div {
    display: flex;
  }
  .block1 div p, .block2 div p, .block3 div p, .block4 div p, .block5 div p {
    margin-right: 5px;
  }

  .block2 {
    border-left: none;
    border-right: none;
    padding: 0;
  }
}

@media only screen and (max-width:388px) {
  .container {
    margin:  20px 0;
  }
  .rightCtn {
    font-size: 0.8rem;
  }
}