.container {
  padding: 10px 20px;
  user-select: none;
}

.container a {
  text-decoration: none;
  color: white;
}

.container h2 {
  font-weight: 300;
  font-size: 1.2rem;
  color: aqua;
}

@media only screen and (max-width: 650px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width:436px) {
  .container h2 {
    font-size: 1rem;
    text-align: center;
  }
}